{{#partial "title"}}About{{/partial}}

{{#block "styles"}}
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/styles.css">
{{/block}}

{{#partial "content"}}
    <div class="jumbotron">
        <h1> About the Douglas Fir Application</h1>
       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dignissimos doloribus exercitationem illum itaque iure maiores natus nemo nihil, nisi odit placeat quia quisquam rerum, similique soluta suscipit ullam veniam. </p>
    </div>
{{/partial}}
{{> layout.hbs}}