{{#partial "title"}}Animal{{/partial}}

{{#block "styles"}}
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/styles.css">
{{/block}}

{{#partial "content"}}
    <div class="jumbotron">
        <h3><a href="/">Home</a></h3>
        {{#if animals}}
            {{#each animals}}
                <h4>Name : {{name}}</h4>
            {{/each}}
        {{else}}
            <h3>No animals present</h3>
        {{/if}}
    </div>
{{/partial}}
{{>layout.hbs}}