{{#partial "title"}}Endangered{{/partial}}

{{#block "styles"}}
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/styles.css">
{{/block}}

{{#partial "content"}}
    <div class="jumbotron">
        <form action="/Endangered/new" method="post" name="endangered">
            <div class="form-group">
                <label for="Name">Animal name
                    <select name="Name">
                        {{#each animals}}
                            <option>{{name}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="health">Health
                    <select name="health">
                        <option>Ill</option>
                        <option>Unknown</option>
                        <option>Healthy</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="age">Age
                    <select name="age">
                        <option>Newborn</option>
                        <option>Young</option>
                        <option>Adult</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="ranger">Ranger that found it
                    <select name="ranger">
                        {{#each rangers}}
                            <option>{{name}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="location">Location
                    <select name="location">
                        <option>Area Section 001</option>
                        <option>Area Section 002</option>
                        <option>Area Section 003</option>
                        <option>Area Section 004</option>
                        <option>Area Section 005</option>
                        <option>Area Section 006</option>
                    </select>
                </label>
            </div>
            <button type="submit" class="btn btn-success">Add Animal</button>
        </form>
    </div>
{{/partial}}
{{>layout.hbs}}