{{#partial "title"}}Douglas Fir{{/partial}}

{{#partial "content"}}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/1.jpeg" width="150" height="150"><br>
                <a href="/animal/form">Add Animal</a>
            </div>
            <div class="col-md-6">
                <img src="/images/2.jpeg" width="150" height="150"><br>
                <a href="/endangered/form">Add Endangered Animal</a>
            </div>
            <div class="col-md-6">
                <img src="/images/3.jpg" width="150" height="150" ><br>
                <a href="/ranger/form">Add Rangers</a>
            </div>
            <div class="col-md-6">
                <img src="/images/4.jpeg" width="150" height="150" ><br>
                <a href="/about">About</a>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}