{{#partial "content"}}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-5">
                <img src="/images/COVID_CampaignImage_3.jpg" width="350" height="350"><br>
                <a href="/animal/form">Add new Animal</a>
            </div>
            <div class="col-md-5">
                <img src="/images/eec45170d1861999f671aae3abeacf74.jpg" width="350" height="350"><br>
                <a href="/Endangered/form">Add new Endangered animals</a>
            </div>
            <div class="col-md-5">
                <img src="/images/Wild-Beautiful-sunset-in-Africa-with-animals-safari.jpg" width="350" height="350" ><br>
                <a href="/ranger/form">Add rangers</a>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}