{{#partial "title"}}Ranger{{/partial}}

{{#block "styles"}}
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/styles.css">
{{/block}}

{{#partial "content"}}
    <div class="jumbotron">
        <h3>All rangers present</h3>
        {{#each rangers}}
            <h5>Name :{{name}}</h5>
            <h5>Phone:{{phone}}</h5>
            <h5>Email address:{{email}}</h5>
        {{/each}}
        <hr>
    </div>
{{/partial}}
{{> layout.hbs}}