{{#partial "title"}}Success{{/partial}}

{{#block "styles"}}
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/styles.css">
{{/block}}

{{#partial "content"}}
    <div class="jumbotron">
        <h2 class="success">SUCCESS !!!</h2>
        <p>Click  <a href="/">here</a> to return to home page</p>
    </div>
{{/partial}}
{{> layout.hbs}}