{{#partial "title"}}Success{{/partial}}

{{#block "styles"}}
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/styles.css">
{{/block}}

{{#partial "content"}}
    <div class="jumbotron">
        <h2 class="text-warning">Congratulations. Successfully Recorded!</h2>
        <p> <a href="/">Go back to Home</a> </p>
    </div>
{{/partial}}
{{> layout.hbs}}