{{#partial "content"}}
    <div class="jumbotron">
        <h2 class="success">SUCCESS !!!</h2>
        <p>Click  <a href="/">here</a> to return to home page</p>
    </div>
{{/partial}}
{{> layout.hbs}}